html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


:root {
  font-size: 62.5%
}

body {
  background-color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: white;
  width: 225px;
  text-align: center;
}

#online {
  text-align: right;
  color: gray;
  margin: 8px 8px 0 0;
}

img {
  border: 4px solid #3d8955;
  border-radius: 50%;
  height: 100px;
  justify-content: center;
  margin: 0;
}

#name {
  margin: 5px 0 10px;
}

#info {
  background-color: #dcf3fc;
  padding: 1px;
  font-size: 1.5rem;
  line-height: 10px;;
}

#blurb {
  display: none;
}

#schedule {
  font-size: 1.5rem;
  line-height: 10px;
  margin: 20px 0 10px 0;
}

#like-and-subscribe {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 24px;
  margin: 0;
}

#like-and-subscribe > :first-child {
  width: 50%;
  background-color: #329752;
  padding: 8px;
  margin: 20px 0 0 0;
}

#like-and-subscribe > :last-child {
  width: 50%;
  background-color: #88e6a6;
  padding: 8px;
  margin: 20px 0 0 0;
}

.far {
  color: white;
}

@media only screen and (min-width: 800px){
  
  main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 500px;
    grid-template-areas: 
    'online name'
    'pic  info'
    'pic blurb'
    'icons  schedule';
  }


  #online {
    grid-area: online;
    text-align: left;
    margin: 8px 0 0 8px;
  }

  img {
    grid-area: pic;
    height: 125px;
    margin: -10px 0 0 0;
    justify-self: center;
  }

  #name {
    grid-area: name;
    text-align: left;
    margin: 0;
    font-size: 2.3rem;
    padding: 20px 0 0 25px;
    background-color: #dcf3fc;
  }
  
  #info {
    grid-area: info;
    text-align: left;
    color: #2d5868;
    margin: -10px 0 0 0;
    padding: 0 0 0 25px;
  }
  
  #blurb {
    display: grid;
    grid-area: blurb;
    text-align: left;
    align-content: center;
    color: #2d5868;
    background-color: #dcf3fc;
    font-size: 1.6rem;
    border-left: 4px solid #329752;
    padding: 0 0 0 22px;
    margin: -15px 0 0 0;
  }

  
  #like-and-subscribe {
    grid-area: icons;
    justify-content: space-evenly;
  }
  
  #schedule {
    text-align: left;
    grid-area: schedule;
    font-size: 1.2rem;
    height: 100%;
    /* line-height: 5px; */
    background-color: #dcf3fc;
    padding: 0 0 5px 20px;
    margin: 0;
  }

}