html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


:root {
  font-size: 62.5%
}

body {
  background-color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: white;
  width: 225px;
  text-align: center;
}

#online {
  text-align: right;
  color: gray;
  margin: 8px 8px 0 0;
}

img {
  border: 4px solid #3d8955;
  border-radius: 50%;
  height: 100px;
  justify-content: center;
  margin: 0;
}

#name {
  margin: 5px 0 10px;
}

#info {
  background-color: #dcf3fc;
  padding: 1px;
  font-size: 1.5rem;
  line-height: 10px;;
}

#blurb {
  display: none;
}

#schedule {
  font-size: 1.5rem;
  line-height: 10px;
  margin: 20px 0 10px 0;
}

#like-and-subscribe {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 24px;
  margin: 0;
}

#like-and-subscribe > :first-child {
  width: 50%;
  background-color: #329752;
  padding: 8px;
  margin: 20px 0 0 0;
}

#like-and-subscribe > :last-child {
  width: 50%;
  background-color: #88e6a6;
  padding: 8px;
  margin: 20px 0 0 0;
}

.far {
  color: white;
}